* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.m-0auto {
  margin: 0 auto;
}

.p-05 {
  padding: 0.5rem;
}

.py-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-05 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pl-05 {
  padding-left: 0.5rem;
}

.pr-05 {
  padding-right: 0.5rem;
}

.pt-05 {
  padding-top: 0.5rem;
}

.pb-05 {
  padding-bottom: 0.5rem;
}

.m-05 {
  margin: 0.5rem;
}

.my-05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-05 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-15 {
  padding: 1.5rem;
}

.py-15 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pl-15 {
  padding-left: 1.5rem;
}

.pr-15 {
  padding-right: 1.5rem;
}

.pt-15 {
  padding-top: 1.5rem;
}

.pb-15 {
  padding-bottom: 1.5rem;
}

.m-15 {
  margin: 1.5rem;
}

.my-15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-15 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.ml-15 {
  margin-left: 1.5rem;
}

.mr-15 {
  margin-right: 1.5rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.fs-05 {
  font-size: 0.5rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-4 {
  font-size: 4rem;
}

.color-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.color-blue {
  color: #364c9f;
}

.bg-blue {
  background-color: #364c9f;
}

.color-blue-1 {
  color: #2a3e88;
}

.bg-blue-1 {
  background-color: #2a3e88;
}

.color-green {
  color: #8BC34A;
}

.bg-green {
  background-color: #8BC34A;
}

.color-dGreen {
  color: #547a28;
}

.bg-dGreen {
  background-color: #547a28;
}

.color-light {
  color: #f1f1f1;
}

.bg-light {
  background-color: #f1f1f1;
}

.color-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.color-orange {
  color: orange;
}

.bg-orange {
  background-color: orange;
}

.color-warning {
  color: #ffd037;
}

.bg-warning {
  background-color: #ffd037;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.border {
  border: 1px solid #000;
}

.border-t {
  border-top: 1px solid #000;
}

.border-b {
  border-bottom: 1px solid #000;
}

.border-radius {
  border-radius: 4px;
}

.bs-green {
  box-shadow: 0 0 4px rgba(139, 195, 74, 0.6);
}

.border-color-black {
  border-color: #000;
}

.border-color-blue {
  border-color: #364c9f;
}

.border-color-blue-1 {
  border-color: #2a3e88;
}

.border-color-green {
  border-color: #8BC34A;
}

.border-color-dGreen {
  border-color: #547a28;
}

.border-color-light {
  border-color: #f1f1f1;
}

.border-color-white {
  border-color: #fff;
}

.border-color-orange {
  border-color: orange;
}

.border-color-warning {
  border-color: #ffd037;
}

a {
  color: #364c9f;
}

body {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 5fr 5fr;
  padding: 0.5rem;
  background-color: #364c9f;
  padding-left: 10rem;
  padding-right: 10rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.233);
}
nav .nav-logo {
  display: flex;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
  color: white;
}
nav .nav-logo-green {
  color: #8BC34A;
  transition: 0.3s;
  padding-right: 0.1rem;
}
nav .nav-toggle-button {
  display: none;
}
nav .nav-logo:hover .nav-logo-green {
  transform: scaleX(-1);
}
nav .small-login {
  font-size: 1.5rem;
  padding: 0.1rem;
}
nav .nav-items {
  display: flex;
}
nav .nav-items .nav-item {
  padding: 0.5rem;
  color: #e4e4e4;
  cursor: pointer;
}
nav .nav-items .nav-item:hover {
  color: white;
}
nav .nav-items .nav-item-add {
  position: relative;
  display: flex;
  width: 180px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}
nav .nav-items .nav-item-add-text {
  position: absolute;
  top: 20%;
  left: 0.5rem;
  color: #8BC34A;
}
nav .nav-items .nav-item-add .bg-left {
  border: 1px solid #8BC34A;
  border-right: none;
  width: 50%;
  border-radius: 3px 0 0 3px;
  background: linear-gradient(to right, #8BC34A 50%, rgba(255, 0, 0, 0) 50%);
  background-size: 200%;
  background-position-x: 100%;
  transition: 0.5s;
  height: 80%;
}
nav .nav-items .nav-item-add .bg-right {
  border: 1px solid #8BC34A;
  border-right: none;
  width: 50%;
  border-radius: 3px 0 0 3px;
  background: linear-gradient(to left, #8BC34A 50%, rgba(255, 0, 0, 0) 50%);
  background-size: 200%;
  background-position-x: 200%;
  transform: scaleX(-1);
  transition: 0.5s;
  height: 80%;
}
nav .nav-items .nav-item-add:hover .nav-item-add-text {
  color: #fff;
}
nav .nav-items .nav-item-add:hover .bg-left {
  background-position-x: 0px;
}
nav .nav-items .nav-item-add:hover .bg-right {
  background-position-x: 100%;
}

.nav-form-search {
  position: relative;
}
.nav-form-search .nav-search-input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
.nav-form-search .nav-search-btn {
  cursor: pointer;
  background-color: #33333300;
  border: none;
  outline: none;
  font-size: 1.4rem;
  position: absolute;
  right: -8px;
  top: 4px;
  color: #a9b6c4;
}

.profile {
  display: flex;
  cursor: pointer;
}
.profile:hover .user-name {
  color: white;
}
.profile .avatar {
  background-color: #fff;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-image: url("/src/Free Personas Icons Vector.svg");
  background-size: 400%;
  background-position-x: -2px;
  background-position-y: -9px;
}
.profile .user-name {
  padding: 0.5rem;
  color: #dbdbdb;
}

#profile {
  position: relative;
}

.toggle-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #e7e9f0ec;
  min-width: 11rem;
  border-radius: 4px;
  border: 1px solid #a7a7a7;
}
.toggle-menu .toggle-menu-item {
  padding: 0.5rem;
  color: #4d4d4d;
  cursor: pointer;
}
.toggle-menu .toggle-menu-item:hover {
  background-color: rgba(51, 51, 51, 0.178);
}

#nav-toggle-menu {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  margin-top: 53px;
  background-color: #364c9f;
  border-top: 1px solid #364c9f;
  transition: 1s cubic-bezier(0.34, 0.63, 0.19, 0.99);
  z-index: 2000;
}

.sideBar-menu-item {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  color: white;
  border-bottom: 1px solid #364c9f;
}
.sideBar-menu-item:hover {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.freePlaceUnderHeader {
  height: 50px;
}

.container {
  padding-left: 10rem;
  padding-right: 10rem;
}

.communication {
  text-align: center;
  color: #364c9f;
}

.cat-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cat-items .cat-item {
  position: relative;
  margin: 0.5rem;
  background-color: #fff;
  border-radius: 6px;
  color: #364c9f;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.123);
  cursor: pointer;
}
.cat-items .cat-item .item {
  padding: 1rem;
}
.cat-items .cat-item .item:hover {
  background: rgba(224, 224, 224, 0.247);
}
.cat-items .cat-item .item .cat-item-icon {
  background-color: #8BC34A;
  color: #fff;
  border-radius: 4px;
  padding: 0.2rem 0.3rem;
  margin-right: 0.5rem;
}
.cat-items .cat-item .cat-item-dropDown {
  z-index: 100;
  position: absolute;
  top: 90%;
  left: -1px;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid #8BC34A;
  border: 1px solid rgba(139, 195, 74, 0.2);
}
.cat-items .cat-item .cat-item-dropDown .cat-item-dropDown-item {
  padding: 0.5rem;
}
.cat-items .cat-item .cat-item-dropDown .cat-item-dropDown-item:hover {
  background-color: rgba(238, 224, 224, 0.39);
  border-right: 2px solid #8BC34A;
}

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.partners-title {
  padding: 0.5rem 1rem;
  color: #364c9f;
  font-size: 2rem;
  font-weight: 100;
}
.partners .partner {
  cursor: pointer;
  margin: 0 auto;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background-color: #f1f1f1;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.432);
  transition: 0.3s;
}
.partners .partner:hover {
  box-shadow: 0 0 10px #213bac;
}

.publications {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.publications .publication {
  cursor: pointer;
  margin: 1rem;
  transition: 0.3s;
}
.publications .publication:hover {
  border-color: #547a28;
  margin: 0.5rem;
}
.publications .publication-head {
  position: relative;
}
.publications .publication-head .images {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8rem;
}
.publications .publication-head .cost {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
}
.publications .publication-head .top {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 0.8rem;
  font-weight: 900;
}
.publications .publication .description .adress .text {
  font-size: 0.8rem;
}
.publications .publication .description .title {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2rem;
}
.publications .publication .description .footer {
  display: flex;
}
.publications .publication .description .footer .user {
  display: flex;
}
.publications .publication .description .footer .user .avatar {
  background-color: #fff;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-image: url("/src/Free Personas Icons Vector.svg");
  background-size: 400%;
  background-position-x: -2px;
  background-position-y: -9px;
}
.publications .publication .description .footer .user-name {
  font-size: 0.8rem;
}
.publications .publication .description .footer .date {
  font-size: 0.8rem;
  margin: 0 0 0 auto;
}

@media only screen and (max-width: 1280px) {
  nav {
    grid-template-columns: 1fr 3fr 3fr 5fr;
  }

  .nav-item-add {
    display: none;
  }

  .cat-items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .partners .partner {
    width: 7rem;
    height: 7rem;
  }
}
@media only screen and (max-width: 1024px) {
  nav {
    grid-template-columns: 1fr 2fr 3fr 4fr;
    padding: 0.5rem 0;
  }

  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .publications {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .publications .publication {
    margin: 1rem;
  }
  .publications .publication .description .footer .user .avatar {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  nav {
    grid-template-columns: 1fr 1fr 10fr 1fr;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  nav .nav-toggle-button {
    display: block;
  }

  .small-login {
    display: block;
  }

  .hidden-block {
    display: none;
  }

  .nav-toggle-button {
    display: block;
    margin: 0 1rem;
    color: rgba(255, 255, 255, 0.781);
    font-size: 2rem;
    cursor: pointer;
  }
  .nav-toggle-button:hover {
    color: white;
  }
  .nav-item-searh {
    display: none;
    margin-left: 2rem;
  }
  .nav #login {
    display: none;
  }

  .container {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .cat-items .cat-item .item {
    padding: 0.7rem 0.3rem;
  }

  .partners-title {
    font-size: 1rem;
  }

  .partners .partner {
    width: 5rem;
    height: 5rem;
  }
}
@media only screen and (max-width: 480px) {
  nav {
    width: auto;
    grid-template-columns: 1fr 1fr 10fr 2fr;
  }
  nav .nav-toggle-button {
    display: block;
  }
  .nav-form-search {
    display: none;
  }
  .nav-toggle-button {
    display: block;
    margin: 0 1rem;
    color: rgba(255, 255, 255, 0.781);
    font-size: 2rem;
    cursor: pointer;
  }
  .nav-toggle-button:hover {
    color: white;
  }
  .nav-item-searh {
    display: none;
    margin-left: 2rem;
  }
  .nav #login {
    display: none;
  }

  .cat-items {
    grid-template-columns: 1fr;
  }
  .cat-items .cat-item {
    margin: 0.2rem 1rem;
  }
  .cat-items .cat-item .cat-item-dropDown {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.185);
  }

  .partners {
    display: flex;
  }
  .partners-title {
    font-size: 1.4rem;
  }
  .partners .partner {
    width: 4rem;
    height: 4rem;
    margin-top: 0.5rem;
  }

  .publications {
    grid-template-columns: 1fr;
  }
  .publications .publication {
    margin: 1rem;
  }
}